<template>
  <div class="p-3 mb-2 bg-white">
    <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="b-table"
    ></b-pagination>
 </div>
   <p class="mt-3">Current Page: {{ currentPage }}</p>

    <b-button variant="success" class="float-right" @click="addNewCustomer"
      >Add New</b-button>
    <b-modal
      id="modal-form-customer"
      ref="modal-form-customer"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input id="address" v-model="form.address" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Dob"
          label-for="dob"
          :invalid-feedback="invalidFeedbackDob"
          :valid-feedback="validFeedbackDob"
          :state="stateDob"
        >
          <b-form-input id="dob" v-model="form.dob" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select
        ></b-form-group>

        <b-form-group
          label="Mobile"
          label-for="mobile"
          :invalid-feedback="invalidFeedbackMobile"
          :valid-feedback="validFeedbackMobile"
          :state="stateMobile"
        >
          <b-form-input
            id="mobile"
            v-model="form.mobile"
            required
          ></b-form-input
        ></b-form-group>

        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input
        ></b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="customerList" :fields="fields" :per-page="perPage"
      :current-page="currentPage"
      > 
      <template v-slot:cell(operation)="data">
        <b-button @click="editCustomer(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCustomer(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  
    
  </div>
</template>

// เอิท
<script>
import axios from 'axios'
export default {
  data () {
    return {
      perPage: 4,
      currentPage: 1,
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Female', text: 'ผู้หญิง' }
      ],
      customerList: [],
      fields: [
        'name',
        'address',
        'dob',
        'gender',
        'mobile',
        'email',
        'operation'
      ]
    }
  },
  methods: {
    /* eslint-disable */
    addNewCustomer () {
      console.log('Add New Customer')
      this.$bvModal.show('modal-form-customer')
    },
    editCustomer (customer) {
      console.log('Edit' + customer)
      console.log(customer)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...customer }
      this.$bvModal.show('modal-form-customer')
    },
    delCustomer (customer) {
      console.log('Del' + customer)
      console.log(customer)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + customer.name + ' หรือไม่!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete(
                'http://localhost:8080/customersPro/' + customer._id,
                this.form
              )
              .then(res => {
                console.log(res)
                this.getCustomers()
              })
              .catch(err => {
                console.log(err)
              })
            this.getCustomers()
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form._id !== '') {
        axios
          .put('http://localhost:8080/customersPro/', this.form)
          .then(res => {
            console.log(res)
            this.getCustomers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getCustomers()
      } else {
        delete this.form._id
        axios
          .post('http://localhost:8080/customersPro/', this.form)
          .then(res => {
            console.log(res)
            this.getCustomers()
          })
          .catch(err => {
            console.log(err)
          })
        this.getCustomers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-customer')
      })
    },
    getCustomers () {
      axios
        .get('http://localhost:8080/customersPro/')
        .then(res => {
          console.log(res)
          this.customerList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    rows() {
        return this.customerList.length
      },
     currentUser() {
      return this.$store.state.auth.user;
    },
    stateName () {
      return this.form.name.length >= 3
    },
    invalidFeedbackName () {
      if (this.form.name.length > 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 3 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.Address != null
    },
    invalidFeedbackAddress () {
      if (this.form.Address != null) {
        return ''
      } else {
        return 'กรุณาบอกที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateDob () {
      return this.form.Dob != null
    },
    invalidFeedbackDob () {
      if (this.form.Dob != null) {
        return ''
      } else {
        return 'กรุณาเลือกบอกวันเดิอนปีเกิด'
      }
    },
    validFeedbackDob () {
      return this.stateDob === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.Gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else if (this.form.gender.length > 0) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateMobile () {
      return this.form.Mobile != null
    },
    invalidFeedbackMobile () {
      if (this.form.Mobile != null) {
        return ''
      } else {
        return 'กรุณาบอกเบอร์โทร'
      }
    },
    validFeedbackMobile () {
      return this.stateMobile === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.Email != null
    },
    invalidFeedbackEmail () {
      if (this.form.Email != null) {
        return ''
      } else {
        return 'กรุณาบอกอีเมล'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateStatus () {
      return this.form.status != null
    },
    invalidFeedbackStatus () {
      if (this.form.status != null) {
        return ''
      } else {
        return 'กรุณาเลือกสถานะ'
      }
    },
    validFeedbackStatus () {
      return this.stateStatus === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getCustomers()
     if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
}
</script>
